logs
project/project
project/target
.target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
conf/rc.application.conf
conf/rc.deployment.secret
conf/live.application.conf
conf/live.deployment.secret
/target/
/hs_err_pid5034.log
